@import "tailwindcss";

.half-background {
  background-image: url("../assets/dubed.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  background-color: white;
}

.half-background-2 {
  background-image: url("../assets/room.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 50% 100%;
  background-color: white;
}
.half-background-3 {
  background-image: url("../assets/room.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50% 100%;
  background-color: white;
}
